# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend directories
chess-frontend/node_modules
chess-frontend/dist
chess-frontend/dist-ssr
*.local

# Go Backend builds
chess-backend/bin/
chess-backend/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?