@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2');
}

@keyframes slide-in {
  from {
    transform: translate(var(--dx), var(--dy));
  }
  to {
    transform: translate(0, 0);
  }
}

.moving { animation: slide-in 300ms }

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    0deg,
    rgb(249, 234, 220) 0%,
    rgb(233, 227, 217) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.game-container {
  display: grid;
  grid-template-areas: 'overlay';
}

.side-panel {
  height: 800px;
  width: 400px;
}

.move-timeline {
  display: flex;
  overflow-x: auto;
  padding: 5px;
  gap: 10px;
  height: 80px;
  width: 400px;
  scrollbar-width: none;
}

.move {
  flex-shrink: 0;
}

.board {
  grid-area: overlay;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  width: 800px;
  height: 800px;
  background-image: url('./assets/board_olive.jpg');
  background-size: cover;
}

.board img {
  width: 100%;
  height: 100%;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  -webkit-user-drag: none;
  user-select: none;
}

.coordinate-files {
  position: absolute;
  bottom: 2px;
  left: 2px;
  user-select: none;
  pointer-events: none;
}

.coordinate-ranks {
  position: absolute;
  top: 2px;
  left: 2px;
  user-select: none;
  pointer-events: none;
}

.selected {
  background-color: rgba(245, 208, 0, 0.5);
}

.valid-move-marker {
  width: 24px;
  height: 24px;
  background-color: rgba(245, 208, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.candidate-header {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.candidate-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.candidate-list li {
  height: 40px;
  border-bottom: 1px solid #000000;
}

.candidate-list button {
  height: 100%;
  width: 100%;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  justify-items: center;
  align-items: center;
  transition: background-color 0.15s;
}

.candidate-list button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.result-bar {
  height: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 3px;
  overflow: hidden;
}

.result-white {
  background-color: white;
  text-align: center;
  color: black;
}

.result-draw {
  background-color: grey;
}

.result-black {
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  color: black;
  text-align: center;
  user-select: none;
}

.promotion-menu {
  grid-area: overlay;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 2px solid black;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 10;
}

.promotion-menu img {
  width: 90px;
  height: 90px;
}

.checkmate-menu {
  grid-area: overlay;
  display: flex;
  background-color: white;
  border: 2px solid black;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 10;
}

.stalemate-menu {
  grid-area: overlay;
  display: flex;
  background-color: white;
  border: 2px solid black;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 10;
}