body {
  background-color: #a28089;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: row;
}

h1 {
    color: white;
    text-align: center;
}

.promotion-menu {
  display: none;
  flex-direction: row;
  background-color: white;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.promotion-menu img {
    width: 90;
    height: 90;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  width: 800px;
  height: 800px;
  background-image: url('./assets/board_olive.jpg');
  background-size: cover;
}

.board div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board img {
  width: 100%;
  height: 100%;
}

.selected {
  background-color: rgba(245, 208, 0, 0.5);
}

.valid-move-marker {
  width: 24px;
  height: 24px;
  background-color: rgba(245, 208, 0, 0.5);
  border-radius: 50%;
  position: absolute;
}